/* body{
    background-color: rgb(192, 192, 221);
    color: white;
    font-size: 20px;
    font-family: Helvetica;
};

h1{
    background-color: #222;
    color: #ddd;
    margin: auto;
}

a {
    color: #eee;
}

ul li{
    color: rgb(101, 196, 228);
    text-decoration: underline;
} */