<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO with Flask</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    {% if user_ip != "None" %}
    <h1>Hello World, your IP is {{user_ip}}</h1>
    {% else %}
    <a href="{{ url_for('index')}}">Ir a inicio</a>
    {% endif %}

    <details>
        <summary>TODO:</summary>
        <ul>
            {% for todo in todos %}
            <li>{{loop.index}}: {{todo}}</li>
            {% endfor %}
        </ul>
    </details>

    {% for idx, name in todo_dict.items() %}
        <ul>
            <li>{{idx**2}}: {{name}}</li>
        </ul>
    {% endfor %}

</body>
</html>